* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    transition: all 0.5s;
    padding: 60px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao-navbar {
    background-image: url("../images/bg-menu.png");
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
    width: 14.5vw !important;
    border: none !important;

    border-radius: 0 !important;
    padding: 2vh 0.5 !important;
    line-height: 0 !important;
    color: #611a0d;
    font-weight: bolder;
}

.botao-navbar:focus {
    box-shadow: none !important;
}

#home {
    background: url("../images/fundo.png") center center no-repeat;
}

.nav-white {
    color: white;
}

.fundo-opaco {
    transition: 0.5s;
    background-color: rgb(70, 70, 70, 0.5);
}

@media screen and (max-width: 768px) {
    
    .rollup-md {
        width: 10vw;
        height: 10vw;
        color: white;
        font-size: 5vw;
    }
}

@media screen and (min-width: 768px) {
    .rollup {
        width: 3vw;
        height: 3vw;
        color: white;
        font-size: 1.5vw;
    }
}

.stardew-carousel {
    width: 60vw;
    /* border: 1.5vh solid transparent; 
    border-image: url("../images/border-stw.png") 7; */
}

.stardew-carousel-md {
    width: 100vw;
    height: 30vh;
}

.carousel-inner2>.carousel-item {
    height: 70vh;
}

.carousel-inner2>.carousel-item>img {
    height: 30vh;
}

/* #sobre img {} */

.carousel-inner>.carousel-item {
    height: 67vh;
}

#fotos {
    background-image: url('../images/clouds.png');
}