* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    transition: all 0.5s;
    padding: 60px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao-navbar {
    background: url("../images/bg-menu.png") center center no-repeat cover;
    width: 14.5vw !important;
    border: none !important;

    border-radius: 0 !important;
    padding: 2vh 0.5 !important;
    line-height: 0 !important;
    color: #611a0d;
    font-weight: bolder;
}

.botao-navbar:focus {
    box-shadow: none !important;
}

#home {
    background: url("../images/fundo.png") center center no-repeat;
}

/* 
.content {
    padding: 1vh 1vw;
    border-image: url('../images/border-stardew.png') 15 fill stretch;
    border-width: 2vh;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
    background-color: #FFF3CC;
} */

.nav-white {
    color: white;
}

nav {
    transition: 1.5s all;
}

.fundo-opaco {
    background-color: rgb(70, 70, 70, 0.5);
}

@media screen and (max-width: 768px) {
    
    .rollup-md {
        width: 10vw;
        height: 10vw;
        color: white;
        font-size: 5vw;
    }
}

@media screen and (min-width: 768px) {
    .rollup {
        width: 3vw;
        height: 3vw;
        color: white;
        font-size: 1.5vw;
    }
}

.stardew-carousel {
    width: 60vw;
}

.stardew-carousel-md {
    width: 90vw;
    height: 25vh;
}

.stardew-carousel-md .carousel-inner > .carousel-item > img {
    height: 25vh;
}

/* #sobre img {} */

.stardew-carousel > .carousel-inner > .carousel-item {
    height: 67vh;
}

#fotos {
    background-image: url('../images/clouds.png');
}

#widget {
    height: 80vh;
    border-radius: 4px;
    background-color: #282e39;
    width: 100%;
}

#widget > .content > .row > #text-stw {
    font-size: 10pt;
    text-align: justify;
}

input {
    color: white !important;
}

footer {
    height: 23vh;
}

footer a{
    text-decoration: none;
}