* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    transition: all 0.5s;
    padding: 60px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home {
    background: url("../images/fundo.png") center center no-repeat;
}

.nav-white {
    color: white;
}



@media screen and (max-width: 768px) {
    .rollup-md {
        width: 10vw;
        height: 10vw;
        color: white;
        font-size: 5vw;
    }
}

@media screen and (min-width: 768px) {
    .rollup {
        width: 3vw;
        height: 3vw;
        color: white;
        font-size: 1.5vw;
    }
}

.stardew-carousel {
    width: 60vw;
    height: 100%;
}

.stardew-carousel-md {
    width: 100vw;
    height: 30vh;
}

.carousel-inner2>.carousel-item {
    height: 70vh;
}

.carousel-inner2>.carousel-item>img {
    height: 30vh;
    width: max-content;
}

/* #sobre img {} */

.carousel-inner>.carousel-item {
    height: 70vh;
}

#fotos {
    background-image: url('../images/clouds.png');
}